 @media (min-width: 1024px) {   

    #teamAreas {
        color: #0078BF;
        font-family: Montserrat;
        font-size: 60px;
        font-style: normal;
        font-weight: 900;
        line-height: 94.568px; 
        margin-left: 241px;
        
    }

    .members-pic {
        width: 300px;
        height: 521px;
    }

    .board {
        display: flex;
        margin-left: 231px;
        gap: 25px;
    }

} 

::-webkit-scrollbar {
    display: none;
} 
 
